$color-primary: #20232a;

$cg-blue: #4F81EF;
$cg-orange: #EF6C4F;
$cg-yellow: #EFBC4F;
$cg-lightyellow: #FCF7C9;
$cg-lightblue: #52a2fd;
$cg-grey: #F8F8F8;

@keyframes gentleFadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-5%,0,0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes gentleFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-15px);
	}
	100% {
		transform: translatey(0px);
	}
}